---
layout: page
title:  Santiago Lopez Pereyra
subtitle: Scientific and personal notes
use-site-title: true
---


<p align="center">
    <img src="../Images/YoMonoambiente.jpg" width="80%" style="border: 6px solid #231709;"/>
</p>
<br/>
<div <p> 
  This is a sundry collection of scientific notes, philosophical and personal
  considerations, and literature. Since an early age, I have made of writing a
  habit, and the principal occupation of my solitude. Such practice, at times
  ritualistic, but more often than not austere and mundane, brings with it a
  strange proliferation of orphan, bastard, or unlawful writings, which lack a
  propper place to be, and have no addressees nor friends, and yet stubbornly
  dream of being read albeit once. It is such proliferation that I here collect.

  </p>
  <hr style="border: 3px solid #231709; height: 2px; margin: 20px 0;">

  <p style="font-size: smaller;">
    See the EEG analysis software I have developed at UPenn's slow-wave research
    lab <a href="https://slopezpereyra.github.io/EEGToolkit.jl/dev/">here</a>.
  </p>


  <hr style="border: 3px solid #231709; height: 2px; margin: 20px 0;">

<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.categories %}
    <a href="#{{ tag[0] | slugify }}"> <div class="tag">{{ tag[0] }}</div></a>
    {% endfor %}
  </div>
  <hr />
  <div class="tags-expo-section">
    {% for tag in site.categories %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <li>
          {{ post.title }}
          <!-- Add the below line if you want the date to be displayed -->
          <small class="post-date">{{ post.date | date_to_string }}</small> 
        </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
